<div class="container">
    <div class="row">
        <div class="col pt-5">
            <h1 class="text-center">Llenado de SABANA</h1>
        </div>
    </div>
    
    <!-- Formulario de datos personales -->
    
    <div class="row">
        <div class="col">
            <!-- FORULARIO -->
            <form [formGroup]="myForm" (submit)="guardarDatosPersonales(this.myForm.value)">
                <div class="mb-3">
                    <label for="nombre" class="form-label">Nombre</label>
                    <input type="text" class="form-control" formControlName="nombre" id="nombre"
                        placeholder="Nombre del capturista" />
                </div>
                <div class="mb-3">
                    <label for="seccion" class="form-label">Sección</label>
                    <select class="form-select" formControlName="seccion">
                        <option selected disabled>Selecciona una sección...</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <div class="conenedor_botton">
                    <button [disabled]="!myForm.valid" class="btn btn-primary" type="submit">Guardar</button>
                </div>
            </form>
    
        </div>
    </div>
    
    
    <div class="row">
        <div class="col">
            <form class="formSabana">
                <div class="card mt-3 mb-3 p-3 w-100 col-gap-3" style="width: 08rem;" *ngFor="let partido of partidos">
    
                    <img [src]="partido.image" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-sm-center nombrePartido">{{ partido.nombrePartido }} </h5>
                    </div>
    
                    <div class="input-group mb-3">
                        <input min="0" value="0" type="number" class="form-control">
                      </div>
    
                </div>
            </form>
        </div>
    </div>
</div>